<!DOCTYPE html>
<html>
  <head>
    <title>Propbase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to 'HOME', root_path %>
    <%= link_to 'Lists', '#' %>
    <%= link_to 'Properties', '#' %>
    <%= link_to 'Profile', '#' %>
    <%= link_to 'Resources', '#' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
